In [2]:
import pandas as pd
import numpy as np

In [173]:
df_per2023 = pd.read_csv('../datasets/Personas_2023.csv', sep = ',')
df_per2022 = pd.read_csv('../datasets/Personas_2022.csv', sep = ',')
df_per2021 = pd.read_csv('../datasets/Personas_2021.csv', sep = ',')
df_per2020 = pd.read_csv('../datasets/Personas_2020.csv', sep = ';')
df_per2019 = pd.read_csv('../datasets/Personas_2019.csv', sep = ';')
df_per2018 = pd.read_csv('../datasets/Personas_2018.csv', sep = ';')
df_per2017 = pd.read_csv('../datasets/Personas_2017.csv', sep = ';')

C:\Users\Acer\AppData\Local\Temp\ipykernel_25936\1643573914.py:4: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_per2020 = pd.read_csv('../datasets/Personas_2020.csv', sep = ';')

In [174]:
dfs = [df_per2017, df_per2018, df_per2019, df_per2020, df_per2021, df_per2022, df_per2023]
years = list(range(2017,2024))

In [19]:
import unidecode

# Function to remove accents
def remove_accents(word):
    return unidecode.unidecode(word)

def get_depto_name(code):
    matching_depto = [depto[1] for depto in deptos if depto[0] == code]
    if matching_depto:
        return matching_depto[0]
    else:
        return None  # Handle the case where no match is found

deptos = [
    (5, 'Antioquia'), 
    (8, 'Atlántico'),
    (11, 'Bogotá D.C.'),
    (13, 'Bolívar'),
    (15, 'Boyacá'),
    (17, 'Caldas'),
    (18, 'Caquetá'),
    (19, 'Cauca'),
    (20, 'Cesar'),
    (23, 'Córdoba'),
    (25, 'Cundinamarca'),
    (27, 'Chocó'),
    (41, 'Huila'),
    (44, 'La Guajira'),
    (47, 'Magdalena'),
    (50, 'Meta'),
    (52, 'Nariño'),
    (54, 'Norte de Santander'),
    (63, 'Quindío'),
    (66, 'Risaralda'),
    (68, 'Santander'),
    (70, 'Sucre'),
    (73, 'Tolima'),
    (76, 'Valle del Cauca')]

In [175]:
def filter_dataset_people(df, deptos, year, remove_accents):
    
    # Apply the title case to the columns
    df.columns = df.columns.str.lower()
    
    # Check for the presence of the department column
    if 'depto' in df.columns:
        df['depto'] = df['depto'].apply(lambda x: [depto[1] for depto in deptos if depto[0] == x][0])
    elif 'dpto' in df.columns:
        df['depto'] = df['dpto'].apply(lambda x: [depto[1] for depto in deptos if depto[0] == x][0])

    # Remove rows where depto is None (optional, based on your needs)
    df = df.dropna(subset=['depto'])
    
    # Remove accents from the columns
    df['depto'] = df['depto'].apply(remove_accents)
    
    # Applying the title case to the dominio column
    df['dominio'] = df['dominio'].str.lower()
    
    # Delete 'Resto Urbano' and 'Rural' from the dominio column
    df = df[df['dominio'] != 'Resto Urbano']
    df = df[df['dominio'] != 'Rural']
    
    # Add the year column
    df['año'] = year
    df['regimen'] = df['p6100']
    df['actividad'] = df['p6240']
    
    if year in list(range(2021, 2024)):
        # Filter the columns
        df['estrato'] = None
        if year == 2021:
            df['educacion'] = df['p6210']
        else:
            df['educacion'] = df['p3042']
        df = df[['depto', 'dominio', 'año', 'estrato', 'regimen', 'educacion', 'actividad']]
    else:
        # Filter the columns
        df['estrato'] = df['estrato1']
        df['educacion'] = df['p6210']
        df = df[['depto', 'dominio', 'año', 'estrato', 'regimen', 'educacion', 'actividad']]
    
    return df

In [ ]:
filter_dataset_people

In [176]:
# Using a list comprehension to apply the function to each DataFrame
dfs_filtered = [filter_dataset_people(dfs[i], deptos, years[i], remove_accents) for i in range(len(dfs))]

In [177]:
df_per2017, df_per2018, df_per2019, df_per2020, df_per2021, df_per2022, df_per2023 = dfs_filtered

In [178]:
# Concatenate the DataFrames

df_per = pd.concat([df_per2017, df_per2018, df_per2019, df_per2020, df_per2021, df_per2022, df_per2023])

In [180]:
def filter_data(df, output, **kwargs):
    # Check if the country, year, disaster type and geolocation are not None
    for key, value in kwargs.items():
        if value is not None:
            df = df[df[key] == value]
    df

# Analysis

In [ ]:
df_per2020[df_per2020['dominio'] == 'Medellin']['estrato1'].value_counts()

In [53]:
df_per2020['p6100'].value_counts()

p6100
1    257588
3    256608
      60240
2     24878
9       588
Name: count, dtype: int64

In [56]:
df_per2020['p6210'].value_counts()

p6210
6    154316
5    148492
3    127890
4     96288
      32413
1     25692
2     14622
9       189
Name: count, dtype: int64

In [57]:
df_per2020['p6240'].value_counts()

p6240
1    171585
4    154907
      99442
3     77825
6     59583
2     25043
5     11517
Name: count, dtype: int64

In [ ]:
df_per2020[df_per2020['dominio'] == 'Medellin']['estrato1'].value_counts()

In [22]:
df_per2020['depto'] = df_per2020['depto'].apply(lambda x: [depto[1] for depto in deptos if depto[0] == x][0])

In [25]:
# Applying the title case to the 'dominio' column
df_per2020['dominio'] = df_per2020['dominio'].str.title()

# Checking the result
df_per2020.head()

,directorio,secuencia_p,orden,clase,dominio,mes,estrato1,p6020,p6040,p6050,...,iof2es,iof3hes,iof3ies,iof6es,ingtotob,ingtotes,ingtot,fex_c,depto,fex_dpto
0,43,8,1,1,Bogota,3,2,1,47,1,...,,,,,0,,0,"135,612943246918",Bogotá D.C.,"135,612943246918"
1,43,9,1,1,Bogota,3,6,1,27,1,...,,,,,1450000,,1450000,"135,612943246918",Bogotá D.C.,"135,612943246918"
2,43,9,2,1,Bogota,3,6,1,19,,...,,,,,0,,0,"135,612943246918",Bogotá D.C.,"135,612943246918"
3,43,10,1,1,Bogota,3,2,2,57,1,...,,,,,0,,0,"135,612943246918",Bogotá D.C.,"135,612943246918"
4,47,1,1,1,Bucaramanga,3,2,1,39,1,...,,,,,2600000,,2600000,"32,0669509746784",Santander,"38,393863542672"

In [27]:
# Remove accents from the columns
df_per2020['depto'] = df_per2020['depto'].apply(remove_accents)

In [30]:
df_per2020['dominio'].unique()

array(['Bogota', 'Bucaramanga', 'Monteria', 'Medellin', 'Cucuta',
       'Riohacha', 'Barranquilla', 'Manizales', 'Quibdo', 'Armenia',
       'Villavicencio', 'Ibague', 'Cartagena', 'Pereira', 'Sincelejo',
       'Santa Marta', 'Cali', 'Florencia', 'Popayan', 'Tunja', 'Pasto',
       'Neiva', 'Valledupar', 'Resto Urbano', 'Rural'], dtype=object)

In [31]:
# Delete Resto Urbano and Resto Rural

df_per2020 = df_per2020[df_per2020['dominio'] != 'Resto Urbano']
df_per2020 = df_per2020[df_per2020['dominio'] != 'Rural']

In [40]:
df_per2020['year'] = 2020

In [41]:
df_per2020

,directorio,secuencia_p,orden,clase,dominio,mes,estrato1,p6020,p6040,p6050,...,iof3hes,iof3ies,iof6es,ingtotob,ingtotes,ingtot,fex_c,depto,fex_dpto,year
0,43,8,1,1,Bogota,3,2,1,47,1,...,,,,0,,0,"135,612943246918",Bogota D.C.,"135,612943246918",2020
1,43,9,1,1,Bogota,3,6,1,27,1,...,,,,1450000,,1450000,"135,612943246918",Bogota D.C.,"135,612943246918",2020
2,43,9,2,1,Bogota,3,6,1,19,,...,,,,0,,0,"135,612943246918",Bogota D.C.,"135,612943246918",2020
3,43,10,1,1,Bogota,3,2,2,57,1,...,,,,0,,0,"135,612943246918",Bogota D.C.,"135,612943246918",2020
4,47,1,1,1,Bucaramanga,3,2,1,39,1,...,,,,2600000,,2600000,"32,0669509746784",Santander,"38,393863542672",2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747817,5328223,1,2,1,Armenia,12,6,2,52,2,...,,,,0,,0,"8,69691236025917",Quindio,"9,24581233082101",2020
747818,5328224,1,1,1,Bucaramanga,12,3,1,26,1,...,,,,"1477666,66666667",,"1477666,66666667","44,8185575865692",Santander,"44,3426458410902",2020
747819,5328224,1,2,1,Bucaramanga,12,3,2,20,2,...,,,,"1129333,33333333",,"1129333,33333333","44,8185575865692",Santander,"44,3426458410902",2020
747820,5328224,2,1,1,Bucaramanga,12,3,1,23,1,...,,,,"1427666,66666667",,"1427666,66666667","44,8185575865692",Santander,"44,3426458410902",2020
747821,5328224,2,2,1,Bucaramanga,12,3,2,35,2,...,,,,1000000,,1000000,"44,8185575865692",Santander,"44,3426458410902",2020

In [39]:
df_per2020[df_per2020['dominio'] == 'Medellin']['estrato1'].value_counts()

estrato1
2    14205
3    12404
1     5294
4     3516
5     1766
6     1059
Name: count, dtype: int64

In [28]:
df_per2020.head()

,directorio,secuencia_p,orden,clase,dominio,mes,estrato1,p6020,p6040,p6050,...,iof2es,iof3hes,iof3ies,iof6es,ingtotob,ingtotes,ingtot,fex_c,depto,fex_dpto
0,43,8,1,1,Bogota,3,2,1,47,1,...,,,,,0,,0,"135,612943246918",Bogota D.C.,"135,612943246918"
1,43,9,1,1,Bogota,3,6,1,27,1,...,,,,,1450000,,1450000,"135,612943246918",Bogota D.C.,"135,612943246918"
2,43,9,2,1,Bogota,3,6,1,19,,...,,,,,0,,0,"135,612943246918",Bogota D.C.,"135,612943246918"
3,43,10,1,1,Bogota,3,2,2,57,1,...,,,,,0,,0,"135,612943246918",Bogota D.C.,"135,612943246918"
4,47,1,1,1,Bucaramanga,3,2,1,39,1,...,,,,,2600000,,2600000,"32,0669509746784",Santander,"38,393863542672"

In [ ]:
# Replace deptos in the dataframe

def replace_deptos(df, deptos):
    for d in deptos:
        df['DEPTO'] = df['DEPTO'].replace(d[0], d[1])
    return df

In [ ]:
# Filtramos las 5 ciudades más importantes
indep = [5, 11, 76, 8, 13]
dep20 = df_2020.set_index("depto").loc[indep]
dep20.head()